body{
    background-image: url("img1.jpg");
    background-repeat: round;
    background-attachment: fixed;
    direction: rtl;
}
.main-window
{
    text-align: right;
    padding:3%;
    margin-top: 2.5%;
    background-color: rgba(255, 255, 255, 0.500);
    border-radius: 10px;
    width: 50%;
    box-shadow:12px 6px rgba(146, 143, 143, 0.767);
}
.options
{ 
    font-weight: bold;
    background-color:rgba(255, 255, 255, 0.500);
    border-top-style: dotted;
    border-bottom-style: dotted;
    width: 100%;
}
@keyframes animateOptions{
    0%{
        width: 25%;
        
    }
    100%{

width: 93%;   
 }
}
@keyframes animateQuestion{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(-0%);

width: 100%;    }
}
.question
{
    margin: 1%;
    animation: animateQuestion 2s ease;
}

.option
{
    margin: 1%;
    cursor: pointer;
    padding:2%;
    border-radius: 5px 5px 5px 5px;
    background-color: darkgray;
    animation: animateOptions  1s ease;
    border-style: inset;
}

.buton
{
    cursor: pointer;;
    padding:2%;
    border-radius: 20%;
    color: white; 
    margin-bottom: 2%; 
    width: 15%;
    background-color: rgb(255, 136, 0);
}
.question{
    font-size: x-large;
    margin-top: 2%;
    color: rgb(5, 1, 255);}
    @keyframes animateBlock{
        0%{
            transform: scale(1,1);
        }
        25%{
            transform: scale(0,1);
        }
        50%{
            transform: scale(1,1);
        }
        75%{
            transform: scale(0,1);
        }
        100%{
            transform: scale(1,1);
    
        }
    }
.messageBlock{
    text-align: center;
    font-weight: bold;
    width:50%;
    margin-top: 15%;
    background-color: rgba(0, 174, 255, 0.970);
    color: white;
    border-style: groove;
    border-radius: 20% 20% 20% 20%;
    padding: 1%;
    animation: animateBlock ease 3s;
}
table{
    margin-bottom: 1%;
    width: 100%;
    text-align: center;
    color: salmon;
}
td{
    border-style: ridge;
    box-shadow:4px 3px rgb(58, 61, 65);
    border-radius: 30px 30px 0px 0px;
    width: 50%;
}

#timer
{
    border-radius: 50% 50% 50% 50%;
    border-style: groove ;
    width: 10%;
    background-color: white;
    border-color: lime;
    border-width: thick;
}